  <div class="FBG">
    <div class="FBG_resize">
      <div class="blok">
        <h2><span>Book</span> Gallery</h2>
        <img src="/images/gallery_1.gif" alt="" width="68" height="68" /><img src="/images/gallery_2.gif" alt="" width="68" height="68" /><img src="/images/gallery_3.gif" alt="" width="68" height="68" /><img src="/images/gallery_4.gif" alt="" width="68" height="68" /><img src="/images/gallery_5.gif" alt="" width="68" height="68" /><img src="/images/gallery_6.gif" alt="" width="68" height="68" />
        <div class="clr"></div>
        <h2>Contact Info </h2>
        <p><strong>Phone</strong>: +1234567<br />
          <strong>Address</strong>: 123 Put Your Address Here <br />
          <strong>E-mail:</strong> me@jungleland.com<br />
          <a href="#">contact page</a></p>
      </div>
      <div class="blok">
        <h2><span>Lorem</span> Ipsum</h2>
        <p>Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. <br />
          Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
        <ul>
          <li><a href="#">• consequat molestie</a></li>
          <li><a href="#">• sem justo</a></li>
          <li><a href="#">• semper</a></li>
          <li><a href="#">• magna sed purus</a></li>
        </ul>
      </div>
      <div class="blok">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Learn more...</a></p>
        <p><br />
        </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>